* {
    padding: 0;
}

html {
    scroll-behavior: smooth;
  }

body {
    background-color: #FEFEFE;
    margin: 0;
}

.hide {
    display: none;
}

.show {
    display: block;
}

a {
    text-decoration: none;
    font-family: Raleway, sans-serif;
    color: black;
}

p, h1 {
    font-family: Raleway, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 42px 120px 50px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}

.active {
    text-decoration: underline;
}

.headliner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    margin: 42px 0px 50px 120px;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    padding: 20px 0;
}

p {
    font-size: 16px;
    line-height: 25px;
    padding-bottom: 20px;
}

button {
    padding: 15px 30px;
    font-family: Raleway, sans-serif;
    font-size: 16px;
    border-radius: 40px;
    background-color: #2639ED;
    border: #2639ED;
    color: #FEFEFE;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.headliner-description a {
    color: #FEFEFE;
}

.headliner-img {
    position: relative;
    z-index: 2;
}

.ellipse-85 {
    position: absolute;
    left: 720px;
    top: 130px;
}

.rectangle-23 {
    position: absolute;
    left: 1150px;
    top: 495px;
}

.dots {
    position: absolute;
    left: 61px;
    top: 475px;
}

.our-client-h1 h1 {
    margin: 120px 120px 0px;
}

.our-client {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 120px 50px;
}

.our-client p {
    margin: 0;
}

.help {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 70px 120px 50px 120px;
    /* gap: 20px; */
}

h3 {
    font-family: Raleway, sans-serif;
    color: black;
    font-weight: bold;
    text-align: center;
    line-height: 25px;
}

.help-column-1 {
    width: 400px;
    position: relative;
    z-index: 2;
}

.help-column-2-item-1,
.help-column-2-item-2,
.help-column-3-item-1,
.help-column-3-item-2 {
    box-shadow: 0 10px 50px 0 #000000 5%;
    border: 1px solid #F2F2F2;
    border-radius: 40px;
    background-color: #FEFEFE;
    width: 210px;
    height: 300px;
    padding: 20px 20px 0 20px;
    margin: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

.help-column-2 {
    position: relative;
    top: 70px;
}

.help-column-2-item-1 p,
.help-column-2-item-2 p,
.help-column-3-item-1 p,
.help-column-3-item-2 p {
    text-align: center;
    margin: 0;
}

.help-column-4 {
    width: 300px;
}

.help-column-2-item-1 img {
    background-color: #F1F7FF;
    padding: 20px;
    border-radius: 15px;
}

.help-column-2-item-2 img {
    background-color: #FFF2F8;
    padding: 20px;
    border-radius: 15px;
}

.help-column-3-item-1 img {
    background-color: #FFF7E3;
    padding: 20px;
    border-radius: 15px;
}

.help-column-3-item-2 img {
    background-color: #DEFFEE;
    padding: 20px;
    border-radius: 15px;
}

.Rectangle-25 {
    position: absolute;
    left: 83px;
    top: 1140px;
}

.Rectangle-24 {
    position: absolute;
    right: -205px;
    top: 1100px;
    z-index: 1;
}

.Group-70 {
    position: absolute;
    left: 120px;
    top: 1480px;
}

.Ellipse-87 {
    position: absolute;
    right: 90px;
    top: 1580px;
}

.newsletter-bkgrnd {
    position: absolute;
}

.Rectangle-30 {
    position: absolute;
    margin: 42px 120px 50px;
}

.Rectangle-31 {
    position: relative;
    z-index: 2;
    left: 820px;
    top: 44px;
}

.Rectangle-32 {
    position: relative;
    z-index: -1;
    top: 90px;
    left: 80px;
}

.Group-73 {
    position: relative;
    top: -142px;
    left: 994px;
}

.newsletter-content {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 140px;
}

.newsletter-content-column-1 {
    margin: 0 0 0 70px;
}

.newsletter-content-column-1 h1 {
    margin: 0;
    padding: 0;
}

.newsletter-content-column-1 p {
    padding: 0;
}

input {
    position: relative;
    z-index: 2;
    padding: 15px 30px;
    border: 1px solid #F1F1F1;
    border-radius: 40px;
    Width: 350px;
    Height: 32px;
}

textarea:focus, input:focus{
    outline: none;
}

form button {
    right: 170px;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0px;
    margin: 150px 120px 0px;
    padding: 50px 0 30px;
    border-top: 1px solid #E4E4E4;
}

.footer-logo img {
    margin-bottom: 20px;
}

.footer-logo p {
    margin: 0;
    color: #565656;

}

.footer-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-column a {
    padding: 5px 0;
    font-size: 13px;
}

.footer-column h3 {
    margin: 0 0 20px 0;
}

.footer-row2 {
    margin: 0px 120px;
    padding-bottom: 25px;
    border-bottom: 1px solid #E4E4E4;
}

.footer-row2 img {
    margin: 0px 15px 0 0;
}

.footer-row3 {
    margin: 0px 120px;
    padding-top: 15px;
    color: #A4A4A4;
    text-align: center;

}

.confirm {
    position: relative;
    z-index: 2;
    padding: 15px 30px;
    margin: 0;
    /* border: 1px solid #F1F1F1;
    border-radius: 40px; */
    Width: 513px;
    Height: 32px;
    text-align: center;
    color: #FEFEFE;
}